

.container1{
    background-color: rgb(32, 32, 32);
}

h1{
    font-size: 3rem;
    animation: animate 4s linear infinite;
}

.h22{
    font-size: 2rem;
    font-weight: 200;
}
.sobres{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.sobres img{
    width: 900px;
}

.sobre{
    color: #fff;
    padding: 25px;
    border-radius: 15px;

}



@keyframes animate{
    0%, 18%, 20%, 50.1%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #f0e0e7;
        text-shadow:none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px #c40b58,
        0 0 20px #c40b58,
        0 0 40px #c40b58,
        0 0 80px #c40b58,
        0 0 160px #c40b58;
    }
}