.descricaoContainer{
    display: flex;
    background-color: rgb(31, 29, 29);
    background-image: url("../../assets/background1.png");
    height: 600px;
}

.descricao{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 700%;
    margin-bottom: 1%;
    margin: auto auto;
    font-weight: bold;
    color: #f5f3f3;
    width : cover;
    padding-left: 120px;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%, 18%, 20%, 50.1%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #f0e0e7;
        text-shadow:none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px #c40b58,
        0 0 20px #c40b58,
        0 0 40px #c40b58,
        0 0 80px #c40b58,
        0 0 160px #c40b58;
    }
}